:root {
  font-size: 10px;

  /* 메인 컬러 */
  --primary-color-default: #52c33d;

  /* 구단별 컬러 */
  --primary-color-samsung: #0066b3;
  --primary-color-hanwha: #f15a28;
  --primary-color-kiwoom: #7d0521;
  --primary-color-lotte: #022242;
  --primary-color-lg: #be0737;
  --primary-color-kia: #b51123;
  --primary-color-ssg: #cf0a2c;
  --primary-color-doosan: #131230;
  --primary-color-nc: #1d467d;
  --primary-color-kt: #000;

  /* 서브 컬러 */
  --secondary-color-default: #c9eac3;

  --secondary-color-samsung: #c6dbeb;
  --secondary-color-hanwha: #f3ccbf;
  --secondary-color-kiwoom: #e9c4cc;
  --secondary-color-lotte: #c8daec;
  --secondary-color-lg: #e9bfca;
  --secondary-color-kia: #e9c5c9;
  --secondary-color-ssg: #eac7cd;
  --secondary-color-doosan: #d6d5e4;
  --secondary-color-nc: #cadaee;
  --secondary-color-kt: #dfdede;

  /* kt 포인트 컬러 */
  --tertiary-color-kt: #ed1b23;

  --gray-100: #f2f2f2;
  --gray-200: #dbdbdb;
  --gray-300: #c4c4c4;
  --gray-400: #767676;

  --error-color: #eb5757;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
